button {
  height: 35px;
  width: 300px;
  margin: 20px;
  border-color: transparent;
  border-radius: 5px;
  background-color: #0a64c1;
  color: white;
  cursor: pointer;
}

button:hover {
  transform: translateY(-1.5px);
  /* border: 1px solid; */
  /* padding: 10px; */
  box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
}

/* button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px gray;
  } */

body {
  background-color: snow;
}
